---
title: Contact
---
sub.uk-width-1-5.uk-text-center
  p
    |&nbsp;
article.uk-width-4-5.uk-text-left
  h3.uk-article-title Contact me

  h3.uk-article-meta Neftalí Hernández C. - Web Developer
  .info
    ul
      li 
        |inhc.dev@gmail.com
      li
        span uk-icon="icon: github" 
        a href="https://github.com/n-hdz" target="_blank"
          |github.com.n-hdz
      li
        span uk-icon="icon: twitter" 
        a href="" target="_blank"
          |@nef_hdz
      li
        h6 
          |+52 55.13.42.77.53